//====================================================================================================


.main-block {
   position: relative;

   &__container {
   }

   &__body {
      position: relative;
		z-index: 2;
   }

   &__title {
   }

   &__text {
   }

   &__buttons {
   }

   &__button {
   }

   &__button-yellow {
   }

   &__button-border {
   }
  
   &__image {
	}
  
	&__image-ibg {
        
		}
   }

//====================================================================================================
